@CHARSET "UTF-8";

body {
	
}

/* ----------------------- Roba mia --------------------------- */
#navbar {
	
}

#sfondo {
	background-image: url("/Pay/resources/images/hero.jpg");
	background-repeat: no-repeat;
	background-position: top;
}

#sfondo2 {
	background-image: url("/Pay/resources/images/back2.jpg");
	background-repeat: no-repeat;
	background-position: top;
}

#jumbotrone1,#jumbotrone2 {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#modalpay,#modalunion,#modalservice {
	background-image: url("/Pay/resources/images/Unipv-logo.png");
}

#bordino {
	border-style: solid;
	border-radius: 10px;
	border-color: rgb(58, 130, 133);
	border-width: 0.7rem;
	padding: 0rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#bordino2 {
	border-style: solid;
	border-radius: 10px;
	border-color: white;
	border-width: 0.7rem;
	padding: 0rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#foot {
	background-color: rgb(99, 66, 66);
	color: white;
	text-align: center;
}

#face {
	stroke-width: 2px;
	stroke: #fff;
}

#hour, #min, #sec {
	stroke-width: 1px;
	fill: #333;
	stroke: #555;
}

#sec {
	stroke: #f55;
}
/* ----------------------- Media Queries --------------------------- */