.navbar-default {
	background-color: transparent; /*Change with transparent*/
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{
	color: #ffbf80;
}

.navbar-default .navbar-text {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #ffbf80;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
	background-color: transparent; /*Change with transparent*/
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
	color: #ffbf80;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>.divider {
	background-color: transparent; /*Change with transparent*/
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #ffbf80;
	background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: #ffbf80;
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #ffffff;
}

.navbar-default .navbar-link {
	color: #ffffff;
}

.navbar-default .navbar-link:hover {
	color: #ffbf80;
}

/* ----------------------- Roba mia --------------------------- */
.nav a {
	border-color: white;
	border-style: solid;
	border-width: 0.5rem;;
	border-radius: 1rem;
	margin: 1rem;
	font-size: 200%;
	text-align: center;
}

#jumbotron {
	background-color: transparent;
	color: white;
	text-align: center;
}

#jumbotron h1 {
	font-family: 'Myriad Pro Bold';
	font-size: 11rem;
	letter-spacing: 0.4rem;
}

#jumbotron h2 {
	font-family: 'Myriad Pro Bold';
	font-size: 7.5rem;
	letter-spacing: 1rem;
}

#jumbotron h3 {
	font-family: 'Myriad Pro Bold';
	font-size: 4rem;
	letter-spacing: 1rem;
}

#jumbotron .btn {
	font-family: 'Myriad Pro Bold';
	font-size: 4rem;
	letter-spacing: 0.5rem;
	color: white;
	background-color: transparent;
}

.input-group-addon {
	color: black;
	background-color: transparent;
}

.form-control {
	color: white;
	background-color: transparent;
}

#features {
	text-align: center;
}

#features h1 {
	letter-spacing: 0.5rem;
	font-size: 10rem;
}

#features h2 {
	letter-spacing: 0.3rem;
	font-size: 5rem;
}

#features .fa {
	font-size: 12rem;
}

#features .row {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#logs {
	text-align: center;
}

#logs .fa {
	font-size: 15rem;
	padding: 2rem;
}

#logs h2 {
	letter-spacing: 0.3rem;
	font-size: 6rem;
}

#logs h3 {
	letter-spacing: 0.2rem;
	font-size: 4rem;
}

#logs .row {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#details {
	background-color:rgba(178, 27, 124, 0.6);
	color: #e6e6e6;
}

#details h1 {
	font-family: 'Myriad Pro Bold';
	letter-spacing: 0.5rem;
	font-size: 6rem;
}

#details h2 {
	letter-spacing: 0.3rem;
	font-size: 4rem;
}
#details h3 {
	letter-spacing: 0.2rem;
	font-size: 3.5rem;
}

#details .btn {
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	color: white;
}

#bordino {
	border-style: solid;
	border-radius: 10px;
	border-color: #699256;
	border-width: 0.7rem;
	padding: 0rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#Hmodal {
	color: #74A1DC;
}


/* ----------------------- Animazioni --------------------------- */

/* ----------------------- Media Query --------------------------- */
@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ffbf80;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #ffbf80;
		background-color: transparent;
	}
	/* -----------------------  mie --------------------------- */
	#jumbotron h1 {
		font-size: 5.6rem;
		letter-spacing: 0;
	}
	#jumbotron h2 {
		font-size: 5.2rem;
		letter-spacing: 0.4rem;
	}
	#jumbotron h3 {
		font-size: 2.2rem;
		letter-spacing: 0.5rem;
	}
	#features h1 {
		letter-spacing: 0.2rem;
		font-size: 3.3rem;
	}
	.container {
		padding: 0;
	}
	#logs h3 {
		letter-spacing: 0.5rem;
		font-size: 2.6rem;
	}
	#logs h2 {
		letter-spacing: 0.4rem;
		font-size: 4rem;
	}
	#details {
		text-align: center;
	}
	#details h1 {
		letter-spacing: 0.3rem;
		font-size: 5rem;
	}
}